.form-redirect {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 2.5rem;
  font-size: 0.8rem;
}

.form-change-text {
  padding: 1rem 0;
}

.form-btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #10aa50;
  border-radius: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: all 0.3s;
}

.form-btn:hover {
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(80, 80, 80, 0.5);
  transform: translateY(-3px);
}

.form-btn:active {
  box-shadow: 0.1rem 0.1rem 0.4rem rgba(80, 80, 80, 0.2);
  transform: translateY(0px);
}

.form-heading {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 2rem 6rem 0 6rem;
}

.form-subheading {
  font-size: 1.2rem;
  padding: 1rem 6.5rem;
  color: #747474;
}

.login-form {
  margin: 2rem 6.2rem;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
}

.login-form-group {
  display: flex;
  justify-content: stretch;
}

.login-form-subgroup {
  width: 100%;
}

.input-field {
  width: 80%;
  padding: 1rem 1rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 5px;
}

.input-label {
  padding: 0 0.2rem;
}

.form-submit-btn {
  font-size: 1.2rem;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .form-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .form-heading {
    padding: 1rem 1.5rem;
    text-align: center;
    font-size: 1.5rem;
  }

  .form-subheading {
    padding: 0;
    text-align: center;
  }

  .login-form {
    padding: 2rem 1rem;
    margin: 1rem 1rem;
    align-items: center;
  }

  .login-form-group {
    justify-content: space-evenly;
    flex-direction: column;
  }

  .input-field {
    width: 90%;
    margin: 0.5rem 1rem;
    padding: 0.5rem 0.8rem;
  }

  .input-label {
    padding: 0 1.2rem;
    font-size: 0.8rem;
    width: 100%;
  }
}
