.notificationDiv {
  background-color: #3b49df;
  color: #fff;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  text-align: center;
}

.loginPageBackground {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #6fbfbf;
  padding: 10vh;
}

.loginPageDiv {
  width: 80vw;
  height: auto;
  min-height: 80vh;
  margin: 0 auto;
  background-color: #f0efe9ca;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 0 4rem rgb(110, 88, 233);
  display: flex;
}

.bannerArea {
  width: 50%;
  height: auto;
  min-height: 80vh;
  background-color: #6d3edbca;
  border-radius: 1rem 0 0 1rem;
}

.corridorName {
  width: 5rem;
  margin: 2rem 0 0 2.5rem;
}

.loginBannerDiv {
  padding: 15% 0;
  text-align: center;
}

.loginBanner {
  width: 70%;
}

.formArea {
  width: 50%;
  background-color: rgb(200, 182, 250);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currentUserDiv {
  display: flex;
  align-items: flex-end;
}

.sign-out-btn {
  background-color: #10aa50;
  margin: 1.8rem 2rem 0 0;
  padding: 1rem 1.5rem !important;
}

.createPostDiv {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  align-items: center;
}

.createPostInput {
  width: 40%;
  padding: 1rem 1rem;
  border: 3.5px solid #c4c4c4;
  border-radius: 10px 0 0 10px;
}

.createPostInput:focus {
  outline: none;
}

.createPostButton {
  border: none;
  font-size: 1rem;
  padding: 1.1rem 1.5rem;
  background-color: #c4c4c4;
  border-radius: 0 10px 10px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  transition: all 0.2s;
}

.createPostButton:hover {
  background-color: #01937c;
}

.emptyText {
  font-size: 1.8rem;
  text-align: center;
}

.timeline-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .loginPageBackground {
    padding: 3vh 0;
    min-height: 94vh;
    height: auto;
  }

  .loginPageDiv {
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: auto;
  }

  .bannerArea {
    background-color: #f0efe9;
    min-height: 0;
  }

  .loginBannerDiv {
    display: none;
  }

  .formArea {
    width: 100%;
  }

  .corridorName {
    width: 3rem;
    transform: translateY(-0.2rem);
    margin: 1.5rem 0 0 1rem;
  }

  .sign-out-btn {
    margin: 0.8rem 1rem 0 0;
    font-size: 0.7rem;
    padding: 0.8rem 1rem !important;
  }

  .author-div {
    transform: translateY(-0.4rem);
  }

  .createPostInput {
    width: 70%;
  }

  .emptyText {
    padding: 0 1rem;
    font-size: 1.5rem;
  }
}
